*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "EuclidCircularA-Medium";
  src: url("./assets/EuclidCircularA-Medium-WebXL.ttf");
}
@font-face {
  font-family: "EuclidCircularA-Regular";
  src: url("./assets/EuclidCircularA-Regular-WebXL.ttf");
}
@font-face {
  font-family: "ValueSerif-Regular";
  src: url("./assets/ValueSerif-Regular.ttf");
}

:root {
  --color-bg-dark: #100f0f;
  --color-bg-dark-light: #171616;
  --color-txt-white: #ffffff;
  --color-txt-grey-white: #cecdc3;
  --color-txt-orange: #fb4219;
  --color-txt-orange-light: #fb42191a;
  --txt-euclid-reg: "EuclidCircularA-Regular";
  --txt-euclid-mid: "EuclidCircularA-Medium";
  --txt-value-serif: "ValueSerif-Regular";
}

/* commons */
ul > li,
a {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-txt-white);
  font-family: var(--txt-euclid-reg);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* layout */
.canvas {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  /* background-color: #d9fb19; */
}

.click-open > i {
  font-size: 30px;
  color: var(--color-txt-orange);
  position: fixed;
}

/* Sidebar initially hidden on mobile, visible on tablets and up */
.side-bar {
  flex-basis: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0;
}

/* side bar style */
.contact-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.icon-item {
  padding: 5px 8px;
  background-color: var(--color-txt-orange-light);
  border-radius: 5px;
}

.icon-link > i {
  font-size: 25px;
  color: var(--color-txt-orange);
}

.projects {
  margin-top: 25px;
}

.projects > h3 {
  margin-bottom: 8px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.project-item {
  cursor: pointer;
}

.project-item:hover {
  color: var(--color-txt-orange-light);
  transition: color 0.1s ease-in-out;
}

.project-item.active-tab {
  color: var(--color-txt-orange);
}

/* Main Content */
.main-content {
  flex-basis: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  transition: flex-basis 0.3s ease;
}

/* main content */
.tabs-content-display {
  background-color: var(--color-bg-dark-light);
  padding: 25px 15px;
  min-height: 300px;
  border-radius: 15px;
}
.welcome-hero {
  font-size: 48px;
  font-family: var(--txt-value-serif);
  margin-bottom: 40px;
}

.welcome-paragraph {
  font-size: 15;
}

/* .work-experiences */
.work-exp-title {
  color: var(--color-txt-orange);
  font-size: 15px;
  margin-bottom: 5px;
}
.accordion-wrapper {
  background-color: var(--color-bg-dark-light);
  padding: 25px 15px;
  min-height: 300px;
  border-radius: 15px;
}
.icon-accordion::after {
  content: "\276F";
}
.accordion-item {
  border-bottom: 0.5px solid var(--color-txt-orange-light);
  padding: 5px 0px;
  margin-bottom: 15px;
}
.accordion-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.company-name {
  color: var(--color-txt-grey-white);
}

.role-title {
  color: var(--color-txt-orange);
  font-size: 14px;
  text-transform: uppercase;
}

.accordion-body {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.28s ease-in-out;
  margin-top: 5px;
}

.accordion-body > .details {
  font-size: 14px;
}

/* --------------- */

@media (min-width: 768px) {
  /* Tablet */
  body {
    height: 100vh;
  }

  .canvas {
    width: 70%;
  }
  .click-open > i {
    display: none;
  }
  .side-bar {
    flex-basis: 25%;
    padding: 40px 15px;
  }
  .main-content {
    flex-basis: 75%;
  }
}

@media (min-width: 1024px) {
  .canvas {
    width: 70%;
  }
}
